<ion-header>
  <ion-toolbar>
    <ion-title>Recommendations</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Not Sure What to Eat?</h1>
  <p>Have your peers help you out! Post a question here asking what's good to eat in your neighborhood!</p>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="needRec()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
