<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Food-Poll App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Welcome to the Food-Poll App!</h1>

  <ion-grid>
    <ion-row class="food-images">
      <ion-col size="4">
        <ion-img width="100%" height="100%" src="../../assets/images/cheeseburgerpic.jpg"></ion-img>
        <ion-img width="100%" height="100%" src="../../assets/images/pizzapic.jpeg"></ion-img>
      </ion-col>
      <ion-col size="3.14">
        <ion-img width="100%" height="100%" src="../../assets/images/chinese pic.jpg"></ion-img>
        <ion-img width="100%" height="100%" src="../../assets/images/taco-pic.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>Welcome to Food Poll! A social site to connect with other people who can help you decide on various food
    topics. Having trouble deciding where to eat? Post a question for recommendations. Want to leave a review
    on food you recently tried? Share it with the whole community! Most importantly, have fun learning about
    great new places and opening up your pallete. Click the Dashboard button below and start sharing today!
  </p>
  
</ion-content>
